/* background color: #e6e6e6 */
/* button color:  #4597f8*/


/* global styles  */
*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* element styles */
h1{
    font-size: 3.5rem;
}
h2 {
    font-size: 1.7rem;
}

/* layout */
.container {
    max-width: 90vw;
    margin: 0 auto;
}

.button-wrapper{
    display: flex;
    justify-content: space-around;
}

.stats-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
}

.game-state-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

/* headings */
.game-title{
    text-align: center;
}

/* button styling*/
button{
    font-size: 1.5rem;
    line-height: 1em;
    padding: 1.5rem;
    background-color: #4597f8;
    color: white;
    border: 0;
    border-radius: .5rem;
    transition: background-color 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
button:active{
    background-color: #2e6bb6;
}

/* images */
#tama-graphic{
 max-height: 33vmin;
}
.hidden{
    visibility: hidden;
}

#tama-graphic:hover {

    /* source: https://www.w3schools.com/howto/howto_css_shake_image.asp */
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); 
    }
  }